[submodule "src/cpp-ethereum"]
	path = src/cpp-ethereum
	url = https://github.com/ethereum/cpp-ethereum.git
[submodule "src/go-ethereum"]
	path = src/go-ethereum
	url = git@github.com:huangyihe/go-ethereum.git
